.contenedor_titulo{
  align-items: center;
  display: flex;
  height: 100vh;
  position: relative;
  justify-content: center;
  z-index: -1;
}

.contenedor_logo {
  position: fixed; /* Coloca el contenedor en una posición absoluta dentro del contenedor del título */
  bottom: 10px; /* Ajusta la distancia desde la parte inferior */
  right: 10px; /* Ajusta la distancia desde la izquierda */
}

.contenedor_logo.invertido {
  filter: invert(100%); /* Invertir los colores de la imagen al 100% */
}

.contenedor_logo img {
  filter: invert(100%);
  width: 5vh;
  height: 5vh;
  transition: transform 0.5s ease, filter 0.5s ease; /* Transición suave de 0.5 segundos para la transformación y la inversión de colores */
}

.contenedor_logo img:hover {
  transform: rotate(-15deg); /* Rotar la imagen 25 grados */
  filter: invert(0%); /* Invertir los colores de la imagen al 0% */
}


.titulo_intro {
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  padding: 0 20px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
  /* Cambiar a posición absoluta en pantallas pequeñas */
  .titulo_intro {
    font-size: 5vh;
  }
}
.titulo_secundario {
  color: transparent;
  -webkit-text-stroke: 2px rgb(255, 255, 255);
  text-stroke: 2px rgb(255, 255, 255);
}

.video_intro {
  border-radius: 20px;
  position: fixed;
  width: 65vw;
  transition: transform 0.5s ease;
}

.subtitulo {
  background-color: #eaeaea;
  font-size: 40px;
  padding-top: 80px;
  padding-bottom: 80px;
  justify-content: center;
  display: flex;
  height: 20vh;
}

.portafolio_seccion{

  height: 50vh;

}

body {
  background-color: #000;
  font-family: Arial;
}

* {
  box-sizing: border-box;
}